<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>426762289377-c6bsqmb73keka0poaosicma9h97vbpo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.426762289377-c6bsqmb73keka0poaosicma9h97vbpo9</string>
	<key>API_KEY</key>
	<string>AIzaSyA_577rgGRQYKSYnTtO2hPpVYoETSFXC74</string>
	<key>GCM_SENDER_ID</key>
	<string>426762289377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecoramdeo</string>
	<key>PROJECT_ID</key>
	<string>coramdeo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>coramdeo-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:426762289377:ios:5a65f6874ae92cf0</string>
	<key>DATABASE_URL</key>
	<string>https://coramdeo-project.firebaseio.com</string>
</dict>
</plist>